body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#console {
  position: absolute;
  width: 350px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #ff1500, #eb9019, #e7c436, #c0c365, #a5ca72, #2cc37a);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}